/* More modern CSS reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* ---------------END OF RESET------------- */

/* @font-face {
    font-family: my-cool-font;
    src: url(../fonts/the-font-file.woff);
  }
   */

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    background-color: rgb(234, 237, 248);
    display:flex;
    margin:0;
    padding:0;
}
.left{
    background-image: url("/home/jonah/odin/form/nextbike.jpeg");
    background-size: cover;
    background-position: center;
    width:33.333vw;
    min-width: 400px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.logo-div{
    display:flex;
    padding:4rem;
    background-color: rgba(196, 196, 196, 0.7);
    margin-top: 8rem;
}

.right{
    width:66.666vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15vh 0 15vh 0;
}
h2, button, p, section{
    align-self: flex-start;
    margin-left: 3rem;
}
form{
    box-shadow: inset;
    width:100%;
    background-color: aliceblue;
    display:flex;
    flex-direction: column;
    box-shadow: 5px 10px 10px rgba(0, 0, 0.1, 0.3);
    padding: 2rem 0;
}
section{
    display:flex;
    flex-direction:column;
    width:100%;
    
}
.rowsdiv{
    display:flex;
    flex-direction: column;
    gap:2rem;

}
.row1, .row2, .row3{
    display:flex;
    gap:6rem;
}
.formgroup{
    display: flex;
    flex-direction: column;
}

legend{
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: larger;
}

input[type="password"], input[type="tel"], input[type="email"], .name{
border-color: grey;
border-radius: 5px;
padding:7px;
}

label{
    font-size: smaller;
}
label[class="tooltip"]{
    font-size: small;
    display: none;
    color: red;
    margin-top: 5px;
}


input:focus{
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
    border-color:  rgb(84, 134, 226);
    outline:none;
}
input:invalid{
    background-color: rgba(255, 0, 0, 0.2);
    border-color:rgb(228, 24, 24);
    outline:none;
}

input:invalid ~ label[class="tooltip"]{
    display:block;
}

button[type="submit"]{
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    padding:0.2rem 2rem;
    background-color: rgb(84, 134, 226);
    border-radius: 5px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
} 